body {
    font-family: 'Karla', sans-serif;
    text-align: justify;
}

header {
    font-size: 2em;
    margin-top: 3%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%;
    letter-spacing: -0.05em;
    font-family: "Exo", sans-serif;
    color: #3f5b80;
    font-size: 3em;
}

a {
    font-style: oblique;
}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0;
}

p:last-child {
    margin-bottom: 40px;
}

code {
    background: #f8f8f8;
    color: #d64f9b;
    border: 1px solid #eee;
    padding: 2px;
    border-radius: 3px;
}


/****************************NAV BAR************************************/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 50px;
    height: 80px;
    text-align: center;
    background-color: transparent;
    transition: .5s;
    color: #000;
    z-index: 1;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #000;
    text-transform: uppercase;
    font-weight: bolder;
}

.toggle-nav {
    display: none;
    color: #903;
}

a:hover,
a:focus {
    color: #903;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.nav-mobile style {
    display: block;
}

nav.scrolling {
    background-color: #fefefe;
    color: #757575;
    opacity: 2;
    transition: .5s;
    z-index: 10;
}


/*********NAV BAR END**********/

.home {
    height: 100vh;
}

.logo-img {
    float: left;
    height: 8vh;
    margin-top: 1%;
}

.small-11 {
    text-align: center;
}

.large-6 {
    width: 100%;
    text-align: center;
}

.client {
    margin-top: 5%;
    margin-bottom: 10%;
}

.faking {
    margin-top: 5%;
}

.about {
    background-color: #eee;
}

.titanium {
    margin-bottom: 3%;
}

.company {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

.mailer {
    width: 50%;
}

.email {
    margin-left: 5%;
}

.number {
    margin-left: -5%;
}

.formspree {
    border: 2.5px solid transparent;
    background: transparent;
    border-bottom: #000 solid 3px;
    color: #903;
}

.hiring {
    border: 2.5px solid #903;
    background: transparent;
    margin-top: 0%;
    width: 15%;
    font-size: 1.2em;
    font-weight: 200;
    text-transform: uppercase;
    color: #903;
    float: right;
    margin-top: 5%;
}

form {
    margin-top: 7%;
}

textarea {
    height: 10rem;
}

.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/backgrounds/map-image.png);
    height: 100vh;
}

footer {
    padding-top: 5%;
}